html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.flex-space {
    flex-grow: 1;
}